* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background: ##c0c0c0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    color: black;
    font-size: 20px;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.glyphicon {
    font-size: 40px;
    margin: 30%;
    margin-top: 75%;
}

.bullet{
  list-style: none;
}
.search{
  text-align: center;
}
.searchBar{
  border-radius: 10px;
}

.locList{
  padding: 35px;
}
@media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
}

#map {
  width: 100%;
  background-color: grey;
  height: 400px;
}
